<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinKalkulator"
        tools:targetApi="31" >
        <activity
            android:name=".ApiByRetrofit.Activity.MainActivityCreateProduct"
            android:exported="false" />
        <activity
            android:name=".ApiByRetrofit.Activity.MainActivityGetApiByRetrofit"
            android:exported="false" />
        <activity
            android:name=".ApiByRetrofit.MainActivityGetApi"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.MainActivityListMenu"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.MainActivityDetailProduct"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.MainActivityListProduct"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.MainActivityTodoList"
            android:exported="false" />
        <activity
            android:name=".MainActivitySharePreferences"
            android:exported="false" />
        <activity
            android:name=".MainActivityIntentExplicit"
            android:exported="false" />
        <activity
            android:name=".TransactionIntent.MainActivityTransactionDaftar"
            android:exported="false" />
        <activity
            android:name=".MainActivityPendaftaranMahasiswa"
            android:exported="false" />
        <activity
            android:name=".TransactionIntent.MainActivityTransactionFullName"
            android:exported="false" />
        <activity
            android:name=".TransactionIntent.MainActivityIntentCalculator"
            android:exported="false" />
        <activity
            android:name=".TransactionIntent.MainActivityTransactionResult"
            android:exported="false" />
        <activity
            android:name=".TransactionIntent.MainActivityReceiveData"
            android:exported="false" />
        <activity
            android:name=".TransactionIntent.MainActivityTransactionIntent"
            android:exported="false" />
        <activity
            android:name=".MainActivityStundentGradeAgain"
            android:exported="false" />
        <activity
            android:name=".MainActivityAlert"
            android:exported="false" />
        <activity
            android:name=".MainActivityStudentGrade"
            android:exported="false" />
        <activity
            android:name=".MainActivityKalkulator"
            android:exported="false" />
        <activity
            android:name=".MainActivityCounterApp"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>